// Style Variables:

// Colors:
$c20m0y15k0: #D6EBE2;
$title-color: #3A4E7E;
$c-100-m-78-y-15-k-2: #124487;
$icon-color: #00A7D8;
$link-color: #14A7D8;
$c0m95y0k45: #971356;
$c45m0y80k0: #A1C854;
$darkBlue-500: #283244;
$darkBlue-600: #1F232C;
$page-bg: #F0F0F0;
$placeholder-text: #C1C1C1;

// add into CSS variables if you want to easily add to tailwind.config.js:
// :root {
//   --darkBlue-500: #{$darkBlue-500};
//   --darkBlue-600: #{$darkBlue-600};
// }