.article {
    &__container {
        &__sidebar {
            &__form {
                &__intro {
                    // &__icon {
                    //     // color: $icon-color;
                    // }
                    // &__title {
                    //     // color: $title-color;
                    // }
                    form {
                        input, textarea {
                            border-color: #283244;
                        }
                        // button[type="submit"] {
                        //     background-color: $link-color;
                        // }
                    }
                }
                // &__outro {
                //     i,svg {
                //         color: $icon-color;
                //     }
                //     &__title {
                //         color: $title-color;
                //     }
                // }
            }
            &__links {
                // &__title {
                //     color: $title-color;
                // }
                &__list {
                    li {
                        &::after {
                            content: "";
                            border: 2px solid #A3A3A3;
                            width: 30px;
                            border-radius: 10px;
                            margin-top: 12px;
                        }
                        // a {
                        //     color: $link-color;
                        // }
                    }
                }
            }
        }
    }
}
// .hidden-mobile-back-button {
//     background-color: $link-color;
// }