@tailwind base;

@tailwind components;

@tailwind utilities;

/* This is for adding classes to places that normally you cannot eg rich text editors: */
@layer base {
    .rte_hero p {
        @apply mb-2;
    }
    .rte_policy p a {
        @apply underline;
    }
}

@font-face {
    /* This is actually Avenir I have just called it NEC-Avenir because THAT MAKES IT WORK FOR SOME REASON???:') */
    font-family: 'NEC-Avenir';
    src: url('../webfonts/avenir/0078f486-8e52-42c0-ad81-3c8d3d43f48e.woff2') format('woff2'),
        url('../webfonts/avenir/065a6b14-b2cc-446e-9428-271c570df0d9.woff2') format('woff2'),
        url('../webfonts/avenir/17b90ef5-b63f-457b-a981-503bb7afe3c0.woff2') format('woff2'),
        url('../webfonts/avenir/c78eb7af-a1c8-4892-974b-52379646fef4.woff2') format('woff2'),
        url('../webfonts/avenir/d513e15e-8f35-4129-ad05-481815e52625.woff2') format('woff2'),
        url('../webfonts/avenir/61bd362e-7162-46bd-b67e-28f366c4afbe.woff') format('woff'),
        url('../webfonts/avenir/65d75eb0-2601-4da5-a9a4-9ee67a470a59.woff') format('woff'),
        url('../webfonts/avenir//75b36c58-2a02-4057-a537-09af0832ae46.woff') format('woff'),
        url('../webfonts/avenir/908c4810-64db-4b46-bb8e-823eb41f68c0.woff') format('woff'),
        url('../webfonts/avenir/c9aeeabd-dd65-491d-b4be-3e0db9ae47a0.woff') format('woff');
    font-display: swap;
}